
@{
    ViewBag.Title = "AnketlerIncele";
    Layout = "~/Views/YoneticiAdmin/Index.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Detaylar</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2" ng-controller="anketguncelle">

        <hr />



        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Soru", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" class="form-control Soru" value="{{anket.Soru}}" />

            </div>
        </div>

        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Cevap A", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control CevapA" value="{{anket.CevapA}}" />


            </div>
        </div>

        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Cevap B", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" class="form-control CevapB" value="{{anket.CevapB}}" />

            </div>
        </div>

        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Cevap C", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" class="form-control CevapC" value="{{anket.CevapC}}" />

            </div>
        </div>

        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Cevap D", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" class="form-control CevapD" value="{{anket.CevapD}}" />

            </div>
        </div>

        <input type="hidden" class="dd" value="{{anket.Id}}" />

        <div class="form-group">
            <button type="button" id="anketguncelle" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span>Güncelle
            </button>
            @*@Html.ActionLink("Listeye Dön", "Index", "Hizmetliler", null, new { @class = "btn btn-default" })*@

            <a href="/BackEnd/Blog/" class="btn btn-default">
                Listeye Dön
            </a>

        </div>



    </div>
</div>

