
@{
    ViewBag.Title = "TrasCesitleriOlustur";
    Layout = "~/Views/KuaforAdmin/Index.cshtml";
}
@if (@Session["kuaforsecim"] == null)
{
    <input type="hidden" id="sessiondeger" value="@Session["yoneticiYonet"]" />
    <div class="bg-success p-3 col-md-12">
        <div class="row">
            <div class="col-md-8">
                <b style="color:white">@Session["yoneticiYonetKuaforAd"]</b>&nbsp;&nbsp; Kuaforuna Bağlanıldı.
            </div>
            <div class="col-md-4">
                <a href="/YoneticiAdmin/Kuaforler"><b class="pull-right mr-3 text-danger" style="cursor:default" id="btnYoneticiAdmin">Yönetici Admin</b></a>
            </div>
        </div>
    </div>
}
else
{
    <input type="hidden" id="sessiondeger" value="@Session["kuaforsecim"]" />
}
<div class="form-group">
    @Html.Label("Çeşit", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="text" value="" name="Cesit" id="Cesit" class="form-control" />

    </div>
</div>
<div class="form-group" ng-controller="kuaforsahibi">
    @Html.Label("Fiyat", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="text" value="" name="Fiyat" id="Fiyat" class="form-control" />

    </div>
</div>

<div class="form-group">
    @Html.Label("Dk", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="text" value="" name="Dk" id="Dk" class="form-control" />

    </div>
</div>

<!--KUAFOR GİRİŞ YAPTIKTAN SONRA SESSİONDAN BİLGİLERİ ALINIP EKLENMELER GERÇEKLEŞECEK-->



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="button" id="kuaforcesitekle" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-disk"></span>Ekle
        </button>
    </div>
</div>

